    <!-- sponsors -->

    <div class="container">
      <div class="row">
        <div class="col-md-14">
          <div class="panel panel-default">
            <div class="panel-heading supporter">Realização, Apoio e Patrocínio</div>
            <div class="panel-body">
              <div class="row">
                <div class="col-sm-2">
                    <div class="panel panel-default">
                      <div class="panel-heading">Realização</div>
                    </div>
                    <img alt="DevOpsDays Brasília" title="DevOpsDays Brasília Local Team"
                    src="/img/logo.png" class="img-responsive img-rounded company-logo" height="75%" width="75%"  />
                </div>
                <div class="col-sm-2">
                    <div class="panel panel-success">
                      <div class="panel-heading">Apoio</div></div>
                    <a href="http://instruct.com.br/" target="_blank">
                      <img alt="Instruct - Infraestrutura Ágil" title="Instruct - Infraestrutura Ágil"
                          src="/img/sponsors/2016-instruct.png" class="img-responsive img-rounded company-logo" height="100px" width="100px">
                    </a>
                </div>
                <div class="col-md-2">
                    <div class="panel-heading bronze">Bronze</div>
                    <!--<a href="http://instruct.com.br/" target="_blank">
                      <img alt="..." title="..."
                          src="/img/sponsors/2016-sponsor.png" class="img-responsive img-rounded company-logo" height="100px" width="100px">
                    </a>-->
                </div>
                <div class="col-md-2">
                    <div class="panel-heading silver">Silver</div>
                    <!--<a href="http://instruct.com.br/" target="_blank">
                      <img alt="..." title="..."
                          src="/img/sponsors/2016-sponsor.png" class="img-responsive img-rounded company-logo" height="100px" width="100px">
                    </a>-->
                </div>
                <div class="col-md-2">
                    <div class="panel-heading gold">Gold</div>
                    <!--<a href="http://instruct.com.br/" target="_blank">
                      <img alt="..." title="..."
                          src="/img/sponsors/2016-sponsor.png" class="img-responsive img-rounded company-logo" height="100px" width="100px">
                    </a>-->
                </div>
              </div>

              <hr />

              <div class="row">
                <div class="col-md-10">
                      <div class="panel panel-warning">
                        <div class="panel-heading">Comunidades</div></div>
                      <a href="http://telegram.me/puppetbr" target="_blank">
                        <img alt="Puppet-BR community users" title="Puppet-BR community users"
                              src="/img/sponsors/2016-puppetbr.png" class="img-responsive img-rounded company-logo" height="100px" width="100px"></a>
                      <a href="http://telegram.me/dockerbr" target="_blank">
                        <img alt="Docker-BR community users" title="Docker-BR community users"
                              src="/img/sponsors/2016-dockerbr.png" class="img-responsive img-rounded company-logo" height="100px" width="100px"></a>
                      <a href="http://telegram.me/devopsbr" target="_blank">
                        <img alt="DevOps-BR community users" title="DevOps-BR community users"
                              src="/img/sponsors/2016-devopsbr.png" class="img-responsive img-rounded company-logo" height="100px" width="100px"></a>
                </div>
              </div>

            </div>

            <a class="btn btn-link" href="/about/sponsor/">
              &nbsp;Seja Patrocinador!</a>

            <div class="progress">
              <div
                role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                class="progress-bar
                       progress-bar-danger"
                style="width: 10%;"> 10%
                <!-- progress-bardanger<40; 40<warning<95 success>95% -->
              </div>
              <span class="text text-primary"><small>
              </small></span>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- end sponsors-->

    <hr>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <ul class="list-inline text-center">
                    <li>
                      <a href="https://telegram.me/DevOpsDaysBrasilia2016" title="Canal Telegram do evento">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-question-circle-o fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="mailto:{{ .Site.Params.email }}">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    {{ range .Site.Params.social }}
                    <li>
                      <a href="{{ .url }}" title="{{ .description }}">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-{{ .title }} fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    {{ end }}
                  </ul>
                  <p class="copyright text-muted">{{ .Site.Copyright }}</p>

                  <p class="copyright text-muted">
                    Todo o conteúdo deste site está publicado sob a Licença
                      <a href="http://creativecommons.org/licenses/by/3.0/br/" title="Creative Commons Atribuição 3.0" target="_blank">
                        Creative Commons Atribuição 3.0 Brasil (CC BY 3.0 BR)</a> exceto quando especificado em contrário.<br />
                      <a href="/about/privacidade/" title="Política de privacidade">Política de privacidade</a>
                      <!--
                      | <a href="" title="Termos de Uso">Termos de Uso</a>
                      -->
                  </p>

                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ .Site.BaseURL }}/js/clean-blog.js"></script>

    {{ if isset .Site.Params "Ganalytics" }}{{ partial "ga.html" . }}{{ end }}

</body>

</html>
